body{
   
}
.modal{
    width: 325px;
    height: 100vh;
    
   
}
.modal-dialog{
    

}
.modal-content{
    width: 325px;
    
   
    
}
.modal-header{
    height: 90px;
    padding: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 30px 30px 0px 0px;
    
}
.modal-body{
    
    border-radius: 0px 0px 30px 30px;
}
.ho{
   
   margin-top: auto;
    font-size: 2em;
    padding: 10px;
    
}
.modal-line a{
    color: black;
}
.model-line a:hover{
    text-decoration: none;
    color: black;
}

.fa-solid{
    font-size: 50px;
}
.row p{
    font-size: 1.3em;
}


#xis{
    font-size: 3em;
}

#conta{
   
}
#conta2{
    width: 80%;
    align-items: start;
    justify-content: start;
    margin-left: 2px;
    
}
#buttoncriar{
    display: flex;
    width: 10vh;
    height: 10vh;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
#list{
    width: 45vh;
}
#list2{
    width: 90%;
    margin: 20px 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #74A60A;
    box-shadow: 2px 2px 5px black;
}
.list3{

}
.bg{
    
    width: 75%;
    height: 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;

}
.bg:hover{
    text-decoration: none;
}
.text-truncate{
    font-size: 1.3em;
    padding: 15px;
    color: #F4FFDB;
    text-shadow: 2px 1px 5px black;
}

#buttoncriar{
    display: flex;
    width: 10vh;
    height: 10vh;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    position: fixed;
    bottom: 60px;
}


@media only screen and (max-width: 768px) {
    .mobile-hide{ display: none !important; 
    
    
    }


   



     #list{
        width: 90vh;
    }
    }